<?xml version="1.0"?>

<launch>
  <arg name="CAMERA_NAME" default="mono_cam" />

  <!-- start camera -->
  <include file="$(find camera_calibrate_mono)/launch/mono_cam.launch">
    <arg name="CAMERA_NAME" value="$(arg CAMERA_NAME)" />
  </include>

  <!-- start calibration -->
  <node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" args=" --size 8x6 --square 0.025 --approximate=0.035 
        image:=/$(arg CAMERA_NAME)/camera_mono/image_raw camera:=/$(arg CAMERA_NAME)/camera_mono" 
        required="true"  output="screen">
  </node>
</launch>
