<?xml version="1.0"?>

<launch>
  <arg name="CAMERA_NAME" default="main_camera" />
  <arg name="CAM_DEVICE" default="/dev/video0" />
  <arg name="CAM_INFO_URL" value="file:///home/leekaidel/catkin_ws/src/ros_camera/calibrationdata/ost.yaml" />
  <arg name="WIDTH" default="1280" />
  <arg name="HEIGHT" default="720" />
  <arg name="FRAMERATE" default="30" />
  
  <!--start the left camera-->
  <node respawn="true" pkg="usb_cam" type="usb_cam_node"  clear_params="true" name="camera_mono" ns="$(arg CAMERA_NAME)">
    <param name="video_device" value="$(arg CAM_DEVICE)" type="string"/>
    <param name="pixel_format" value="mjpeg" type="string"/>
    <param name="image_width" value="$(arg WIDTH)" type="int"/>
    <param name="image_height" value="$(arg HEIGHT)" type="int"/>
    <param name="framerate" value="$(arg FRAMERATE)" type="int"/>
    <!--param name="do_rectify" value="$(arg FRAMERATE)" type="int"/-->


    <param name="camera_name" value="$(arg CAMERA_NAME)" type="string"/>
    <param name="camera_frame_id" value="$(arg CAMERA_NAME)_frame" type="string"/>
    <param name="camera_info_url" value="$(arg CAM_INFO_URL)" />
  </node>
  
</launch>
