<?xml version="1.0"?>

<launch>
  <arg name="CAMERA_NAME_FORWARD" default="mono_cam_forward" />
  <arg name="CAM_DEVICE_FORWARD" default="/dev/video4" />
  <!--<arg name="CAM_INFO_URL_FORWARD" value="package://camera_calibrate_mono/calibration/mono_cam1.yaml" /> -->
  <arg name="WIDTH_FORWARD" default="1280" />
  <arg name="HEIGHT_FORWARD" default="960" />
  <arg name="FRAMERATE_FORWARD" default="24" />

  <arg name="CAMERA_NAME_DOWN" default="mono_cam_down" />
  <arg name="CAM_DEVICE_DOWN" default="/dev/video3" />
 <!--<arg name="CAM_INFO_URL_FORWARD" value="package://camera_calibrate_mono/calibration/mono_cam1.yaml" /> -->
  <arg name="WIDTH_DOWN" default="1920" />
  <arg name="HEIGHT_DOWN" default="1080" />
  <arg name="FRAMERATE_DOWN" default="24" />

<!--   start the left camera -->
  <node respawn="true" pkg="usb_cam" type="usb_cam_node" name="camera_mono_forward" ns="$(arg CAMERA_NAME_FORWARD)">
    <param name="video_device" value="$(arg CAM_DEVICE_FORWARD)" type="string"/>
    <param name="pixel_format" value="v4l2" type="string"/>
    <param name="image_width" value="$(arg WIDTH_FORWARD)" type="int"/>
    <param name="image_height" value="$(arg HEIGHT_FORWARD)" type="int"/>
    <param name="framerate" value="$(arg FRAMERATE_FORWARD)" type="int"/>

    <param name="camera_name" value="$(arg CAMERA_NAME_FORWARD)" type="string"/>
    <param name="camera_frame_id" value="$(arg CAMERA_NAME_FORWARD)_optical_frame" type="string"/>
<!--     <param name="camera_info_url" value="$(arg CAM_INFO_URL_FORWARD)" /> -->
  </node>

<!--    <node respawn="true" pkg="usb_cam" type="usb_cam_node" name="camera_mono" ns="$(arg CAMERA_NAME_DOWN)"> -->
<!--     <param name="video_device" value="$(arg CAM_DEVICE_DOWN)" type="string"/> -->
<!--     <param name="pixel_format" value="mjpeg" type="string"/> -->
<!--     <param name="image_width" value="$(arg WIDTH_DOWN)" type="int"/> -->
<!--     <param name="image_height" value="$(arg HEIGHT_DOWN)" type="int"/> -->
<!--     <param name="framerate" value="$(arg FRAMERATE_DOWN)" type="int"/> -->

<!--     <param name="camera_name" value="$(arg CAMERA_NAME_DOWN)" type="string"/> -->
<!--     <param name="camera_frame_id" value="$(arg CAMERA_NAME_DOWN)_optical_frame" type="string"/> -->
<!--       --><!-- <param name="camera_info_url" value="$(arg CAM_INFO_URL_DOWN)" /> -->
<!--   </node> -->

</launch>
